{% extends "ResumeWebsite/base.html" %}

{% block content %}

<!-- intro image -->
<div id="home-header" class="d-flex justify-content-center">
    <div id="header-caption" >
        <img src="../../static/ResumeWebsite/images/bryanna-transparent.png" style="width:100%;">
        <p1> Mentor <i class="fas fa-circle fa-xs"></i> Engineer <i class="fas fa-circle fa-xs"></i> Tutor</p1>
        <br>
        <p1>
            <a href="https://www.linkedin.com/in/bryanna-brown-cmu/"><i class="fab fa-linkedin"></i></a>
            <a href="mailto: bbrown001129@example.com"><i class="far fa-envelope"></i></a>
            <a href="https://github.com/bbrown001129"><i class="fab fa-github-square"></i></a>
        </p1>
    </div>
</div>

<!-- Welcome message -->
<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <h1>About</h1>
        <p class="lead"> Hello! My name is Bryanna Brown and I am a recent graduate who just received
                        her Master's Degree in Electrical and Computer from Carneige Mellon Univeristy
                        in Pittsburgh, Pennsylvania. In 2019 I received my Bachlor's Degree in Electrical
                        Engineering from Binghamton University, State Univeristy of New York. Here you'll find...
                        Information
        </p>
    </div>
</div>
</div>
{% endblock %}
